.discount__container {
    grid-template-columns: repeat(2, max-content);
    justify-content: center;
    align-items: center;
    column-gap: 7rem;
    background-color: $containerColor;
    padding: 3rem 0;
    border-radius: 3rem;
    .discount__img {
        width: 200px;
    }
    .discount__data {
        padding-left: 6rem;
        text-align: center;
        .discount__title {
            font-size: $h2FS;
            margin-bottom: $mb2;
        }
    }
}
