.cart {
    &.show-cart {
        right: 0;
    }
    position: fixed;
    background-color: $bodyColor;
    z-index: $zFixed;
    width: 420px;
    box-shadow: -2px 0 4px $shadow;
    height: 100%;
    top: 0;
    right: -100%;
    padding: 3.5rem 2rem;
    transition: 0.4s;
    .cart__close {
        font-size: 2rem;
        color: $titleColor;
        position: absolute;
        top: 1.25rem;
        right: 0.9rem;
        cursor: pointer;
    }
    .cart__title-center {
        font-size: $h2FS;
        text-align: center;
        margin-bottom: $mb3;
    }
    .cart__container {
        display: grid;
        row-gap: 1.5rem;
        .cart__card {
            display: flex;
            align-items: center;
            column-gap: 1rem;
            .cart__box {
                background-color: $containerColor;
                padding: 0.75rem 1.25rem;
                display: flex;
                align-items: center;
                .cart__img {
                    width: 85px;
                }
            }
            .cart__details {
                .cart__title {
                    font-size: $normalFS;
                    margin-bottom: $mb05;
                }
                .cart__price {
                    display: block;
                    font-size: $smallFS;
                    color: $firstColor;
                    margin-bottom: $mb15;
                }
                .cart__amount,
                .cart__amount-content {
                    display: flex;
                    align-items: center;
                }
                .cart__amount {
                    column-gap: 3rem;
                    .cart__amount-content {
                        column-gap: 1rem;
                        .cart__amount-box {
                            display: inline-flex;
                            padding: 0.25rem;
                            background: $containerColor;
                            cursor: pointer;
                        }
                    }
                    .cart__amount-trash {
                        font-size: 1.15rem;
                        color: $firstColor;
                        cursor: pointer;
                    }
                }
            }
        }
    }
    .cart__prices {
        margin-top: 6rem;
        @include between;
        .cart__prices-item,
        .cart__prices-total {
            color: $titleColor;
        }
        .cart__prices-item {
            font-size: $smallFS;
        }
        .cart__prices-total {
            font-size: $h3FS;
            font-weight: $medium;
        }
    }
    @media screen and (max-width: 576px) {
        width: 100%;
    }
}
