.header {
    &.scroll-header {
        background: $bodyColor;
        box-shadow: 0 1px 4px $shadow;
    }
    width: 100%;
    background: transparent;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    .nav {
        // height: 5rem;
        height: $headerHeight + 1.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 3rem;
        .nav__close,
        .login__toggle,
        .nav__logo,
        .nav__toggle,
        .nav__shop {
            color: $titleColor;
        }
        .login__toggle,
        .nav__toggle,
        .nav__shop {
            font-size: 1.25rem;
            cursor: pointer;
        }
        .nav__logo {
            text-transform: lowercase;
            font-weight: $bold;
            letter-spacing: 1px;
            display: inline-flex;
            align-items: center;
            column-gap: 0.25rem;
            &-icon {
                font-size: 1.25rem;
            }
        }
        .nav__list {
            display: flex;
            align-items: center;
            column-gap: 2rem;
            .nav__link {
                color: $titleColor;
                font-weight: $medium;
                font-size: $normalFS;
                transition: 0.3s;
                &:hover {
                    color: $firstColor;
                }
            }
            @media screen and (max-width: 767px) {
                flex-direction: column;
                row-gap: 2rem;
            }
        }
        .nav__close {
            font-size: 2rem;
            position: absolute;
            top: 0.9rem;
            right: 1.25rem;
            cursor: pointer;
            display: none;
            @media screen and (max-width: 767px) {
                display: block;
            }
        }
        .nav__btns {
            display: flex;
            align-items: center;
            column-gap: 1rem;
            margin-left: auto;
            .nav__toggle {
                display: none;
                @media screen and (max-width: 767px) {
                    display: block;
                }
            }
        }
        .nav__menu {
            &.show-menu {
                right: 0;
            }
            @media screen and (max-width: 767px) {
                position: fixed;
                background-color: $bodyColor;
                top: 0;
                right: -100%;
                width: 100%;
                height: 100%;
                padding: 6rem 2rem 3.5rem;
                transition: 0.3s;
            }
        }
        @media screen and (max-width: 767px) {
            height: $headerHeight;
        }
        @media screen and (max-width: 320px) {
            column-gap: 0;
        }
    }
}
