.main {
    /*---------- HOME ----------*/
    .home__content {
        padding: 9rem 0 2rem;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 3rem;
        .home__group {
            display: grid;
            position: relative;
            padding-top: 2rem;
            .home__img {
                width: 420px;
                transform: translateY(-3rem);
                justify-self: center;
            }
            .home__indicator {
                width: 8px;
                aspect-ratio: 1/1;
                background: $titleColor;
                border-radius: 50%;
                position: absolute;
                bottom: 15%;
                left: 45%;
                &::after {
                    content: "";
                    position: absolute;
                    width: 1px;
                    height: 75px;
                    background: $titleColor;
                    top: 0;
                    right: 45%;
                }
            }
            .home__details-img {
                position: absolute;
                bottom: 0;
                right: 58%;
                .home__details-title,
                .home__details-subtitle {
                    display: block;
                    font-size: $smallFS;
                    text-align: right;
                }
            }
        }
        .home__data {
            .home__subtitle {
                font-size: $h3FS;
                text-transform: uppercase;
                margin-bottom: $mb1;
            }
            .home__title {
                font-size: $biggestFS;
                font-weight: $bold;
                line-height: 109%;
                margin-bottom: $mb15;
            }
            .home__description {
                margin-bottom: $mb25;
                padding-right: 2rem;
            }
            .home__buttons {
                display: flex;
                justify-content: space-between;
            }
        }
    }
}
