@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;900&display=swap");

$headerHeight: 3.5rem;

/*  Colors  */
$titleColor: hsl(250, 8%, 15%);
$textColor: hsl(250, 8%, 35%);
$bodyColor: hsl(250, 60%, 98%);
$containerColor: #fff;
$shadow: rgba(38, 38, 38, 0.1);
/*-------------*/
$hue: 0;
$firstColor: hsl(0, 88%, 61%);
$firstColorAlt: hsl(0, 88%, 45%);
$scrollBarColor: hsl(250, 12%, 90%);
$scrollThumbColor: hsl(250, 12%, 80%);
/*-------------*/

/*  Font & typography  */
$bodyFont: "Poppins", sans-serif;
$biggestFS: 4rem;
$h1FS: 2.25rem;
$h2FS: 1.5rem;
$h3FS: 1.25rem;
$normalFS: 1rem;
$smallFS: 0.875rem;
$smallerFS: 0.813rem;

/*  Font weight  */
$medium: 500;
$bold: 600;

/*  Marges Bottom  */

$mb05: 0.5rem;
$mb075: 0.75rem;
$mb1: 1rem;
$mb15: 1.5rem;
$mb2: 2rem;
$mb25: 2.5rem;
$mb3: 3rem;

/*  Z-index  */

$zTooltip: 10;
$zFixed: 100;

/*  Mixins  */

@mixin center {
    display: flex;
    align-self: center;
    justify-content: center;
}
@mixin between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*  Responsive typography  */

@media screen and (max-width: 992px) {
    $biggestFS: 2rem;
    $h1FS: 1.5rem;
    $h2FS: 1.25rem;
    $h3FS: 1rem;
    $normalFS: 0.938rem;
    $smallFS: 0.813rem;
    $smallerFS: 0.75rem;
}

/*  RESET  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}

body,
button,
input {
    font-family: $bodyFont;
    font-size: $normalFS;
}

body {
    background-color: $bodyColor;
    color: $textColor;
    @media screen and (max-width: 767px) {
        margin: $headerHeight 0 0 0;
    }
}
h1,
h2,
h3,
h4 {
    color: $titleColor;
    font-weight: $medium;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
img {
    width: 100%;
    height: auto;
}
button {
    cursor: pointer;
}
button,
input {
    border: none;
    outline: none;
}

.section {
    padding: 7rem 0 2rem;
    @media screen and (max-width: 767px) {
        padding: 4.5rem 0 2rem;
    }
}

.section__title,
.breadcrumb__title {
    font-size: $h1FS;
}
.section__title,
.breadcrumb__subtitle {
    margin-bottom: $mb3;
}
.section__title {
    @media screen and (max-width: 992px) {
        font-size: $h2FS;
        margin-bottom: $mb2;
    }
}

.section__title,
.breadcrumb__title,
.breadcrumb__subtitle {
    text-align: center;
}

.container {
    // max-width: 1168px;
    max-width: 968px;
    margin-left: auto;
    margin-right: auto;
    @media screen and (max-width: 992px) {
        margin-left: $mb15;
        margin-right: $mb15;
    }
    @media screen and (max-width: 320px) {
        margin-left: $mb1;
        margin-right: $mb1;
    }
}
.grid {
    display: grid;
}
.active-link {
    position: relative;
    &::before {
        content: "";
        position: absolute;
        bottom: -0.75rem;
        left: 45%;
        width: 5px;
        aspect-ratio: 1/1;
        background: $titleColor;
        border-radius: 50%;
    }
}
// .show-cart {
//     right: 0;
// }

.swiper-pagination {
    position: initial;
    margin-top: $mb15;
    &-bullet {
        width: 5px;
        height: 5px;
        background: $titleColor;
        opacity: 1;
        &-active {
            width: 1.5rem;
            height: 5px;
            border-radius: 0.5rem;
        }
    }
    @media screen and (max-width: 1200px) {
        margin-top: $mb2;
    }
    @media screen and (max-width: 992px) {
        margin-top: $mb2;
    }
    @media screen and (max-width: 767px) {
        margin-bottom: $mb15;
    }
}
.swiper-pagination-horizontal.swiper-pagination-bullets
    .swiper-pagination-bullet {
    margin: 0 0.5rem;
}

.button {
    display: inline-block;
    background: $firstColor;
    color: $containerColor;
    padding: 1rem 1.7rem;
    border-radius: 0.5rem;
    font-weight: $medium;
    transition: 0.3s;
    &:hover {
        background: $firstColorAlt;
    }
    &__icon {
        font-size: 1.25rem;
    }
    &--link {
        color: $titleColor;
    }
    &--flex {
        display: inline-flex;
        align-items: center;
        column-gap: 0.5rem;
    }
}

.scrollup {
    position: fixed;
    right: 1rem;
    bottom: -30%;
    background-color: $firstColor;
    border-radius: 0.4rem;
    display: inline-flex;
    padding: 0.25rem;
    z-index: $zTooltip;
    opacity: 0.8;
    transition: 0.4s;
    &:hover {
        opacity: 1;
    }
    &-icon {
        font-size: 1.5rem;
        color: #fff;
    }
}
.show-scroll {
    bottom: 3rem;
}
::-webkit-scrollbar {
    width: 0.6rem;
    background: $scrollBarColor;
    border-radius: 0.5rem;
}
::-webkit-scrollbar-thumb {
    background: $scrollThumbColor;
    border-radius: 0.5rem;
}
